@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
main {
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
header {
  display: flex;
  background:  url(./Assets/bg-hero-desktop.svg);
  padding: 20px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
header div {
  /* margin: 10px; */
}
.header__button {
  margin-left: 900px;
  padding: 8px 20px;
  border-radius: 50px;
  background: #fff;
  border-style: none;
  font-weight: 20px;
  cursor: pointer;
}

 .flex__container__main {
    /* padding: 0; */
   
} 
.container__text__1 h2 {
    margin-bottom: 20px;
}  
/* .container__1, */
.container__2,
.container__3,
.container__4 {
  display: flex;
  margin: 50px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background: hal(208, 11%, 55%);
  border-radius: 30px;
  box-sizing: content-box;
  background: whitesmoke;
  
}
.container__1 {
    background:  url(./Assets/bg-hero-desktop.svg);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background: hal(208, 11%, 55%);
    box-sizing: border-box;

}
.get__started {
  padding: 10px 25px;
  border-radius: 50px;
  background: hsl(322, 100%, 66%);
  border-style: none;
  font-weight: 20px;
  color: #fff;
  cursor: pointer;
 
}
img {
    width: 100%;
    height: 100%;
}
.ready__to__build {
    /* border: 1px solid black; */
    background: whitesmoke;
    width: 30%;
    position: relative;
    z-index: 1;
    padding: 30px;
    /* margin-bottom: 200px; */
    margin-left: 400px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    position: absolute; 
}
footer {
  background: hsl(192, 100%, 9% );
  /* position: relative; */
}
.footer__container {
  display: flex;
  padding-top: 10px;
  color: grey;
  position: relative;
}
footer img {
  width: 10px;
  height: 10px;
}

.logo {
  width: 100%;
  height: 100%;
}
.logo__footer {
  width: 70%;
  height: 70%;
  background: #fff;
}
.section__1,
.section__2,
.section__3 {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  line-height: 2;
  box-sizing: border-box;
  padding-left: 70px;
}
.section__4 {
  display: flex;
  align-items: center;
}
.section__4 i {
  margin: 10px;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
}
.copyright {
  text-align: end;
  color: grey;
  padding: 30px;
  position: right;
}
@media screen and (min-width: 1440px) {
  .flex__container__main, footer, header {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
}
@media screen and (max-width: 375px) {
  .flex__container__main, footer, header {
    margin: auto;
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header {
    margin: auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
 

}
